* {
    margin: 0;
    padding: 0;
    overflow: auto;
}

.NewsBlog {
    display: flex;
    height: 100vh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "one one two three three" "one one two three three""one one two three three""one one two three three""one one two three five";
}

div {
    margin: 5px 5px 8px 5px;
    border-radius: 10px;
    border: black solid;
}

.item {
    flex: 0 0 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: rgb(221, 12, 12);
    text-transform: uppercase;
}

.Section-1 {
    background: red;
    background-size: cover;
    align-items: baseline;
    background-repeat: round;
    grid-area: one;
}

.Section-2 {
    background: yellow;
    background-size: cover;
    align-items: baseline;
    background-repeat: round;
    grid-area: two;
}

.Section-3 {
    background: red;
    background-size: cover;
    align-items: baseline;
    background-repeat: round;
    grid-area: three;
}

.Section-4 {
    background: url(/images/GirlPhoto.jpg);
    background-size: cover;
    align-items: baseline;
    background-repeat: round;
    grid-area: four;
}

.Section-5 {
    background: red;
    background-size: cover;
    align-items: baseline;
    background-repeat: round;
    grid-area: five;
}

.Section-6 {
    background: url(/images/GirlPhoto.jpg);
    background-size: cover;
    align-items: baseline;
    background-repeat: round;
    grid-area: six;
}

.Section-7 {
    background: red;
    background-size: cover;
    align-items: baseline;
    background-repeat: round;
    grid-area: seven;
}

.Section-8 {
    background: hotpink;
    background-size: cover;
    align-items: baseline;
    background-repeat: round;
    grid-area: eight;
}

.Section-9 {
    background: pink;
    background-size: cover;
    align-items: baseline;
    background-repeat: round;
    grid-area: nine;
}

.Section-10 {
    background: red;
    background-size: cover;
    align-items: baseline;
    background-repeat: round;
    grid-area: ten;
}

.Section-11 {
    background: yellow;
    background-size: cover;
    align-items: baseline;
    background-repeat: round;
    grid-area: oneone;
}

.Section-12 {
    background: red;
    background-size: cover;
    align-items: baseline;
    background-repeat: round;
    grid-area: tentwo;
}


/* 
.Section-13 { */


/* background: url(/images/GirlPhoto.jpg);
    background-size: cover;
    align-items: baseline;
    background-repeat: round;
    grid-area: one;
}

.Section-14 {
    background: url(/images/GirlPhoto.jpg);
    background-size: cover;
    align-items: baseline;
    background-repeat: round;
    grid-area: one;
} */